body {
  font-family: 'Poppins', sans-serif;
  background-image: url('img/back.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat;
}
.background-image{
  opacity: 0.0;
}
.content{
  background-color: rgba(236, 229, 229, 0.612);
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  font-size: 1rem;
}

.card-body {
  padding: 1.25rem;
}

  .nav-link {
    background-color: #343a40;
    color: #adb5bd;
    margin: 5%;
  }
  .nav-link.active {
    background-color: #495057;
    color: #ffffff;
  }
  .nav-link:not(.active):hover {
    color: #ced4da;
  }


.navbar {
  background-color: #f8f9fa;
}


section {
  padding: 4rem 0;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

